<a href="https://colab.research.google.com/github/tsuli/Cognite/blob/main/cognite_test_Tamas_Suli_v9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#!pip install cognite-sdk
!pip install --upgrade cognite-sdk

Collecting cognite-sdk
  Downloading cognite_sdk-2.38.1-py3-none-any.whl (181 kB)
     |████████████████████████████████| 181 kB 4.3 MB/s
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from cognite-sdk) (1.1.5)
Requirement already satisfied: requests<3.0.0,>=2.21.0 in /usr/local/lib/python3.7/dist-packages (from cognite-sdk) (2.23.0)
Requirement already satisfied: requests-oauthlib==1.3.0 in /usr/local/lib/python3.7/dist-packages (from cognite-sdk) (1.3.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib==1.3.0->cognite-sdk) (3.1.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.21.0->cognite-sdk) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.21.0->cognite-sdk) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.21.0->cognite-sdk) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.21.0->cognite-sdk) (3.0.4)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas->cognite-sdk) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->cognite-sdk) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->cognite-sdk) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->cognite-sdk) (1.15.0)
Installing collected packages: cognite-sdk
Successfully installed cognite-sdk-2.38.1

In [2]:
%matplotlib inline

import os
from datetime import datetime, timedelta
from datetime import datetime
from getpass import getpass

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
#from sklearn.ensemble import RandomForestRegressor
#from sklearn.linear_model import LinearRegression
#from sklearn.metrics import mean_squared_error
#from sklearn.metrics import r2_score

from cognite.client import CogniteClient

c = CogniteClient(api_key="NTgxY2MwMTItZjFmYS00N2U0LTgxNWEtZTcwZDNiMDU0OTFm",
                       project="publicdata", client_name="Tamas Suli")
# NTgxY2MwMTItZjFmYS00N2U0LTgxNWEtZTcwZDNiMDU0OTFm

In [3]:
all_timeseries = c.time_series.list(limit=-1).to_pandas()
val_timeseries = all_timeseries[all_timeseries['name'].str.contains('VAL_', regex=False)]
# all_timeseries.to_csv('all_timeseries.csv', header = True, index = False)
# val_timeseries.to_csv('val_timeseries.csv', header = True, index = False)
val_timeseries.index.name = 'ind'
val_timeseries.reset_index(inplace=True)
del val_timeseries['ind']
len(val_timeseries['id'])

363

In [ ]:
val_timeseries[290:310]

In [ ]:
val_timeseries.loc[val_timeseries.name=="VAL_23-PT-92539:X.Value"]
# VAL_23-FT-92537-01:X.Value - 7638223843994790 - id: 305
# VAL_23-TT-92539:X.Value - 643849686863640 - id: 30
# VAL_23-PT-92539:X.Value - 1890487216163163 - id: 75

                  id externalId  ... lastUpdatedTime  unit
75  1890487216163163  pi:160703  ...   1593512860522   bar

[1 rows x 12 columns]

In [39]:
i = 30

d1_1 = c.datapoints.retrieve(id=int(val_timeseries['id'][i]), start="100d-ago", end="0d-ago").to_pandas()
d1_1.index.name = 'time'
d1_1.reset_index(inplace=True)
id_title = 'm_' + str(val_timeseries['id'][i])
time_title = 't_' + str(val_timeseries['id'][i])
d1_1_dict = {time_title: d1_1['time'].tolist(), id_title: d1_1[d1_1.columns[1]].tolist()}
out_file = 'd1_1_bin'
np.savez(out_file, **d1_1_dict)

In [ ]:
i = 30

d1_2 = c.datapoints.retrieve(id=int(val_timeseries['id'][i]), start="200d-ago", end="101d-ago").to_pandas()
d1_2.index.name = 'time'
d1_2.reset_index(inplace=True)
id_title = 'm_' + str(val_timeseries['id'][i])
time_title = 't_' + str(val_timeseries['id'][i])
d1_2_dict = {time_title: d1_2['time'].tolist(), id_title: d1_2[d1_2.columns[1]].tolist()}
out_file = 'd1_2_bin'
np.savez(out_file, **d1_2_dict)

d1_3 = c.datapoints.retrieve(id=int(val_timeseries['id'][i]), start="300d-ago", end="201d-ago").to_pandas()
d1_3.index.name = 'time'
d1_3.reset_index(inplace=True)
id_title = 'm_' + str(val_timeseries['id'][i])
time_title = 't_' + str(val_timeseries['id'][i])
d1_3_dict = {time_title: d1_3['time'].tolist(), id_title: d1_3[d1_3.columns[1]].tolist()}
out_file = 'd1_3_bin'
np.savez(out_file, **d1_3_dict)

d2_1 = c.datapoints.retrieve(id=int(val_timeseries['id'][i]), start="400d-ago", end="301d-ago").to_pandas()
d2_1.index.name = 'time'
d2_1.reset_index(inplace=True)
id_title = 'm_' + str(val_timeseries['id'][i])
time_title = 't_' + str(val_timeseries['id'][i])
d2_1_dict = {time_title: d2_1['time'].tolist(), id_title: d2_1[d2_1.columns[1]].tolist()}
out_file = 'd2_1_bin'
np.savez(out_file, **d2_1_dict)

d2_2 = c.datapoints.retrieve(id=int(val_timeseries['id'][i]), start="500d-ago", end="401d-ago").to_pandas()
d2_2.index.name = 'time'
d2_2.reset_index(inplace=True)
id_title = 'm_' + str(val_timeseries['id'][i])
time_title = 't_' + str(val_timeseries['id'][i])
d2_2_dict = {time_title: d2_2['time'].tolist(), id_title: d2_2[d2_2.columns[1]].tolist()}
out_file = 'd2_2_bin'
np.savez(out_file, **d2_2_dict)

d2_3 = c.datapoints.retrieve(id=int(val_timeseries['id'][i]), start="600d-ago", end="501d-ago").to_pandas()
d2_3.index.name = 'time'
d2_3.reset_index(inplace=True)
id_title = 'm_' + str(val_timeseries['id'][i])
time_title = 't_' + str(val_timeseries['id'][i])
d2_3_dict = {time_title: d2_3['time'].tolist(), id_title: d2_3[d2_3.columns[1]].tolist()}
out_file = 'd2_3_bin'
np.savez(out_file, **d2_3_dict)

d3_1 = c.datapoints.retrieve(id=int(val_timeseries['id'][i]), start="700d-ago", end="601d-ago").to_pandas()
d3_1.index.name = 'time'
d3_1.reset_index(inplace=True)
id_title = 'm_' + str(val_timeseries['id'][i])
time_title = 't_' + str(val_timeseries['id'][i])
d3_1_dict = {time_title: d3_1['time'].tolist(), id_title: d3_1[d3_1.columns[1]].tolist()}
out_file = 'd3_1_bin'
np.savez(out_file, **d3_1_dict)

d3_2 = c.datapoints.retrieve(id=int(val_timeseries['id'][i]), start="800d-ago", end="701d-ago").to_pandas()
d3_2.index.name = 'time'
d3_2.reset_index(inplace=True)
id_title = 'm_' + str(val_timeseries['id'][i])
time_title = 't_' + str(val_timeseries['id'][i])
d3_2_dict = {time_title: d3_2['time'].tolist(), id_title: d3_2[d3_2.columns[1]].tolist()}
out_file = 'd3_2_bin'
np.savez(out_file, **d3_2_dict)

d3_3 = c.datapoints.retrieve(id=int(val_timeseries['id'][i]), start="900d-ago", end="801d-ago").to_pandas()
d3_3.index.name = 'time'
d3_3.reset_index(inplace=True)
id_title = 'm_' + str(val_timeseries['id'][i])
time_title = 't_' + str(val_timeseries['id'][i])
d3_3_dict = {time_title: d3_3['time'].tolist(), id_title: d3_3[d3_3.columns[1]].tolist()}
out_file = 'd3_3_bin'
np.savez(out_file, **d3_3_dict)

d4_1 = c.datapoints.retrieve(id=int(val_timeseries['id'][i]), start="1000d-ago", end="901d-ago").to_pandas()
d4_1.index.name = 'time'
d4_1.reset_index(inplace=True)
id_title = 'm_' + str(val_timeseries['id'][i])
time_title = 't_' + str(val_timeseries['id'][i])
d4_1_dict = {time_title: d4_1['time'].tolist(), id_title: d4_1[d4_1.columns[1]].tolist()}
out_file = 'd4_1_bin'
np.savez(out_file, **d4_1_dict)

d4_2 = c.datapoints.retrieve(id=int(val_timeseries['id'][i]), start="1100d-ago", end="1001d-ago").to_pandas()
d4_2.index.name = 'time'
d4_2.reset_index(inplace=True)
id_title = 'm_' + str(val_timeseries['id'][i])
time_title = 't_' + str(val_timeseries['id'][i])
d4_2_dict = {time_title: d4_2['time'].tolist(), id_title: d4_2[d4_2.columns[1]].tolist()}
out_file = 'd4_2_bin'
np.savez(out_file, **d4_2_dict)

d4_3 = c.datapoints.retrieve(id=int(val_timeseries['id'][i]), start="1200d-ago", end="1101d-ago").to_pandas()
d4_3.index.name = 'time'
d4_3.reset_index(inplace=True)
id_title = 'm_' + str(val_timeseries['id'][i])
time_title = 't_' + str(val_timeseries['id'][i])
d4_3_dict = {time_title: d4_3['time'].tolist(), id_title: d4_3[d4_3.columns[1]].tolist()}
out_file = 'd4_3_bin'
np.savez(out_file, **d4_3_dict)

d5_1 = c.datapoints.retrieve(id=int(val_timeseries['id'][i]), start="1300d-ago", end="1201d-ago").to_pandas()
d5_1.index.name = 'time'
d5_1.reset_index(inplace=True)
id_title = 'm_' + str(val_timeseries['id'][i])
time_title = 't_' + str(val_timeseries['id'][i])
d5_1_dict = {time_title: d5_1['time'].tolist(), id_title: d5_1[d5_1.columns[1]].tolist()}
out_file = 'd5_1_bin'
np.savez(out_file, **d5_1_dict)

d5_2 = c.datapoints.retrieve(id=int(val_timeseries['id'][i]), start="1400d-ago", end="1301d-ago").to_pandas()
d5_2.index.name = 'time'
d5_2.reset_index(inplace=True)
id_title = 'm_' + str(val_timeseries['id'][i])
time_title = 't_' + str(val_timeseries['id'][i])
d5_2_dict = {time_title: d5_2['time'].tolist(), id_title: d5_2[d5_2.columns[1]].tolist()}
out_file = 'd5_2_bin'
np.savez(out_file, **d5_2_dict)

d5_3 = c.datapoints.retrieve(id=int(val_timeseries['id'][i]), start="1500d-ago", end="1401d-ago").to_pandas()
d5_3.index.name = 'time'
d5_3.reset_index(inplace=True)
id_title = 'm_' + str(val_timeseries['id'][i])
time_title = 't_' + str(val_timeseries['id'][i])
d5_3_dict = {time_title: d5_3['time'].tolist(), id_title: d5_3[d5_3.columns[1]].tolist()}
out_file = 'd5_3_bin'
np.savez(out_file, **d5_3_dict)

d6_1 = c.datapoints.retrieve(id=int(val_timeseries['id'][i]), start="1600d-ago", end="1501d-ago").to_pandas()
d6_1.index.name = 'time'
d6_1.reset_index(inplace=True)
id_title = 'm_' + str(val_timeseries['id'][i])
time_title = 't_' + str(val_timeseries['id'][i])
d6_1_dict = {time_title: d6_1['time'].tolist(), id_title: d6_1[d6_1.columns[1]].tolist()}
out_file = 'd6_1_bin'
np.savez(out_file, **d6_1_dict)

d6_2 = c.datapoints.retrieve(id=int(val_timeseries['id'][i]), start="1700d-ago", end="1601d-ago").to_pandas()
d6_2.index.name = 'time'
d6_2.reset_index(inplace=True)
id_title = 'm_' + str(val_timeseries['id'][i])
time_title = 't_' + str(val_timeseries['id'][i])
d6_2_dict = {time_title: d6_2['time'].tolist(), id_title: d6_2[d6_2.columns[1]].tolist()}
out_file = 'd6_2_bin'
np.savez(out_file, **d6_2_dict)

d6_3 = c.datapoints.retrieve(id=int(val_timeseries['id'][i]), start="1800d-ago", end="1701d-ago").to_pandas()
d6_3.index.name = 'time'
d6_3.reset_index(inplace=True)
id_title = 'm_' + str(val_timeseries['id'][i])
time_title = 't_' + str(val_timeseries['id'][i])
d6_3_dict = {time_title: d6_3['time'].tolist(), id_title: d6_3[d6_3.columns[1]].tolist()}
out_file = 'd6_3_bin'
np.savez(out_file, **d6_3_dict)

d7_1 = c.datapoints.retrieve(id=int(val_timeseries['id'][i]), start="1900d-ago", end="1801d-ago").to_pandas()
d7_1.index.name = 'time'
d7_1.reset_index(inplace=True)
id_title = 'm_' + str(val_timeseries['id'][i])
time_title = 't_' + str(val_timeseries['id'][i])
d7_1_dict = {time_title: d7_1['time'].tolist(), id_title: d7_1[d7_1.columns[1]].tolist()}
out_file = 'd7_1_bin'
np.savez(out_file, **d7_1_dict)

d7_2 = c.datapoints.retrieve(id=int(val_timeseries['id'][i]), start="2000d-ago", end="1901d-ago").to_pandas()
d7_2.index.name = 'time'
d7_2.reset_index(inplace=True)
id_title = 'm_' + str(val_timeseries['id'][i])
time_title = 't_' + str(val_timeseries['id'][i])
d7_2_dict = {time_title: d7_2['time'].tolist(), id_title: d7_2[d7_2.columns[1]].tolist()}
out_file = 'd7_2_bin'
np.savez(out_file, **d7_2_dict)

d7_3 = c.datapoints.retrieve(id=int(val_timeseries['id'][i]), start="2100d-ago", end="2001d-ago").to_pandas()
d7_3.index.name = 'time'
d7_3.reset_index(inplace=True)
id_title = 'm_' + str(val_timeseries['id'][i])
time_title = 't_' + str(val_timeseries['id'][i])
d7_3_dict = {time_title: d7_3['time'].tolist(), id_title: d7_3[d7_3.columns[1]].tolist()}
out_file = 'd7_3_bin'
np.savez(out_file, **d7_3_dict)

d8_1 = c.datapoints.retrieve(id=int(val_timeseries['id'][i]), start="2200d-ago", end="2101d-ago").to_pandas()
d8_1.index.name = 'time'
d8_1.reset_index(inplace=True)
id_title = 'm_' + str(val_timeseries['id'][i])
time_title = 't_' + str(val_timeseries['id'][i])
d8_1_dict = {time_title: d8_1['time'].tolist(), id_title: d8_1[d8_1.columns[1]].tolist()}
out_file = 'd8_1_bin'
np.savez(out_file, **d8_1_dict)

d8_2 = c.datapoints.retrieve(id=int(val_timeseries['id'][i]), start="2300d-ago", end="2201d-ago").to_pandas()
d8_2.index.name = 'time'
d8_2.reset_index(inplace=True)
id_title = 'm_' + str(val_timeseries['id'][i])
time_title = 't_' + str(val_timeseries['id'][i])
d8_2_dict = {time_title: d8_2['time'].tolist(), id_title: d8_2[d8_2.columns[1]].tolist()}
out_file = 'd8_2_bin'
np.savez(out_file, **d8_2_dict)

d8_3 = c.datapoints.retrieve(id=int(val_timeseries['id'][i]), start="2400d-ago", end="2301d-ago").to_pandas()
d8_3.index.name = 'time'
d8_3.reset_index(inplace=True)
id_title = 'm_' + str(val_timeseries['id'][i])
time_title = 't_' + str(val_timeseries['id'][i])
d8_3_dict = {time_title: d8_3['time'].tolist(), id_title: d8_3[d8_3.columns[1]].tolist()}
out_file = 'd8_3_bin'
np.savez(out_file, **d8_3_dict)

d9_1 = c.datapoints.retrieve(id=int(val_timeseries['id'][i]), start="2500d-ago", end="2401d-ago").to_pandas()
d9_1.index.name = 'time'
d9_1.reset_index(inplace=True)
id_title = 'm_' + str(val_timeseries['id'][i])
time_title = 't_' + str(val_timeseries['id'][i])
d9_1_dict = {time_title: d9_1['time'].tolist(), id_title: d9_1[d9_1.columns[1]].tolist()}
out_file = 'd9_1_bin'
np.savez(out_file, **d9_1_dict)

d9_2 = c.datapoints.retrieve(id=int(val_timeseries['id'][i]), start="2600d-ago", end="2501d-ago").to_pandas()
d9_2.index.name = 'time'
d9_2.reset_index(inplace=True)
id_title = 'm_' + str(val_timeseries['id'][i])
time_title = 't_' + str(val_timeseries['id'][i])
d9_2_dict = {time_title: d9_2['time'].tolist(), id_title: d9_2[d9_2.columns[1]].tolist()}
out_file = 'd9_2_bin'
np.savez(out_file, **d9_2_dict)

d9_3 = c.datapoints.retrieve(id=int(val_timeseries['id'][i]), start="2700d-ago", end="2601d-ago").to_pandas()
d9_3.index.name = 'time'
d9_3.reset_index(inplace=True)
id_title = 'm_' + str(val_timeseries['id'][i])
time_title = 't_' + str(val_timeseries['id'][i])
d9_3_dict = {time_title: d9_3['time'].tolist(), id_title: d9_3[d9_3.columns[1]].tolist()}
out_file = 'd9_3_bin'
np.savez(out_file, **d9_3_dict)

d10_1 = c.datapoints.retrieve(id=int(val_timeseries['id'][i]), start="2900d-ago", end="2701d-ago").to_pandas()
d10_1.index.name = 'time'
d10_1.reset_index(inplace=True)
id_title = 'm_' + str(val_timeseries['id'][i])
time_title = 't_' + str(val_timeseries['id'][i])
d10_1_dict = {time_title: d10_1['time'].tolist(), id_title: d10_1[d10_1.columns[1]].tolist()}
out_file = 'd10_1_bin'
np.savez(out_file, **d10_1_dict)

d10_2 = c.datapoints.retrieve(id=int(val_timeseries['id'][i]), start="2900d-ago", end="2701d-ago").to_pandas()
d10_2.index.name = 'time'
d10_2.reset_index(inplace=True)
id_title = 'm_' + str(val_timeseries['id'][i])
time_title = 't_' + str(val_timeseries['id'][i])
d10_2_dict = {time_title: d10_2['time'].tolist(), id_title: d10_2[d10_2.columns[1]].tolist()}
out_file = 'd10_2_bin'
np.savez(out_file, **d10_2_dict)

d10_3 = c.datapoints.retrieve(id=int(val_timeseries['id'][i]), start="2900d-ago", end="2701d-ago").to_pandas()
d10_3.index.name = 'time'
d10_3.reset_index(inplace=True)
id_title = 'm_' + str(val_timeseries['id'][i])
time_title = 't_' + str(val_timeseries['id'][i])
d10_3_dict = {time_title: d10_3['time'].tolist(), id_title: d10_3[d10_3.columns[1]].tolist()}
out_file = 'd10_3_bin'
np.savez(out_file, **d10_3_dict)

In [ ]:
id_title = 'm_' + str(val_timeseries['id'][i])
time_title = 't_' + str(val_timeseries['id'][i])
data_dict3 = {time_title: [], id_title: []}

t1 = d1['time'].tolist()
t2 = d2['time'].tolist()
t3 = d3['time'].tolist()
t4 = d4['time'].tolist()
t5 = d5['time'].tolist()
t6 = d6['time'].tolist()
t7 = d7['time'].tolist()
t8 = d8['time'].tolist()
t9 = d9['time'].tolist()
t10 = d10['time'].tolist()
t_a = t1 + t2
t_b = t3 + t4 + t5
t_c = t6 + t7 + t8 + t9 + t10
t = t_a + t_b + t_c

In [ ]:
v1 = d1[d1.columns[1]].tolist() 
v2 = d2[d2.columns[1]].tolist()
v3 = d3[d3.columns[1]].tolist()
v4 = d4[d4.columns[1]].tolist()
v5 = d5[d5.columns[1]].tolist()
v6 = d6[d6.columns[1]].tolist()
v7 = d7[d7.columns[1]].tolist()
v8 = d8[d8.columns[1]].tolist()
v9 = d9[d9.columns[1]].tolist()
v10 = d10[d10.columns[1]].tolist()
v = v1 + v2 + v3 + v4 + v5 + v6+ v7 + v8 + v9 + v10

data_dict3 = {time_title: t, id_title: v}

In [ ]:
column_length = []
data_dict_concat = {}
for i in range(5):
  id_title = 'm_' + str(val_timeseries['id'][i])
  time_title = 't_' + str(val_timeseries['id'][i])
  data_dict = {time_title: [], id_title: []}
  start = 99
  end = 0

  while end<2900:
    print(i, end)
    par0 = str(start) + 'd-ago'
    par1 = str(end) + 'd-ago'
    d = c.datapoints.retrieve(id=int(val_timeseries['id'][i]), start=par0, end=par1).to_pandas()
    d.index.name = 'time'
    d.reset_index(inplace=True)
    t = data_dict[time_title] + d['time'].tolist()
    v = data_dict[id_title] + d[d.columns[1]].tolist()
    data_dict = {time_title: t, id_title:v}
    start = start + 100
    end = end + 100
  
  column_length.append(len(data_dict[time_title]))
  data_dict_concat = {**data_dict_concat, **data_dict}
print(column_length)

In [ ]:
str(52336799167961)

'52336799167961'

In [ ]:
x = 0
a = 0
b = 0
dict2 = {1:[], 2:[], 3:[]}
while x<10:
  f = dict2[1]+[a, b]
  dict2 = {1:f, 2:[1, 2], 3:[1, 2]}
  x = x + 1
  a = a + 1
  b = b +1

dict2, x, a, b

({1: [0, 0, 1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 7, 8, 8, 9, 9],
  2: [1, 2],
  3: [1, 2]},
 10,
 10,
 10)

In [35]:
t = np.arange(0, 10, 0.1) # Generate np arrays
x = np.sin(t)
data_dict1 = {'time1': t, 'signal1': x} # Group them in a dictionary
data_dict2 = {'time2': t, 'signal2': x} # Group them in a dictionary
data_dict3 = {**data_dict1, **data_dict2}
out_file = 'binary_conc2'
np.savez(out_file, **data_dict3) # Save dictionary to '.npz'-file

In [ ]:
new_data = np.load(out_file + '.npz') # Load '.npz'-file
#plt.plot(new_data['time'], new_data['signal']) # Use loaded data
new_dict = dict(new_data)
new_dict

In [ ]:
d = c.datapoints.retrieve(id=1106662769260201, start="900d-ago", end="600d-ago").to_pandas()
d.index.name = 'time'
d.reset_index(inplace=True)
d

In [ ]:
val_timeseries.head()

               id externalId  ... lastUpdatedTime  unit
0   6190956317771  pi:160627  ...   1593512847807   NaN
1  12378169571900  pi:161021  ...   1593512902300   NaN
2  25870989735584  pi:160252  ...   1593512810583   NaN
4  52336799167961  pi:160731  ...   1593512866556   NaN
5  54795035045033  pi:160031  ...   1593512911434   NaN

[5 rows x 12 columns]

In [ ]:
val_timeseries.index.name = 'ind'
val_timeseries.reset_index(inplace=True)
del val_timeseries['ind']
val_timeseries.head()

   ind              id externalId  ...    createdTime  lastUpdatedTime unit
0    0   6190956317771  pi:160627  ...  1593024714298    1593512847807  NaN
1    1  12378169571900  pi:161021  ...  1593024714298    1593512902300  NaN
2    2  25870989735584  pi:160252  ...  1593024714298    1593512810583  NaN
3    4  52336799167961  pi:160731  ...  1593024714298    1593512866556  NaN
4    5  54795035045033  pi:160031  ...  1593024714298    1593512911434  NaN

[5 rows x 13 columns]

In [ ]:
del val_timeseries['ind']
val_timeseries.head()

               id externalId  ... lastUpdatedTime  unit
0   6190956317771  pi:160627  ...   1593512847807   NaN
1  12378169571900  pi:161021  ...   1593512902300   NaN
2  25870989735584  pi:160252  ...   1593512810583   NaN
3  52336799167961  pi:160731  ...   1593512866556   NaN
4  54795035045033  pi:160031  ...   1593512911434   NaN

[5 rows x 12 columns]

In [ ]:
x = 1
d = c.datapoints.retrieve(id=52336799167961, start="900d-ago", end="300d-ago").to_pandas()

In [ ]:
x = 2
d = c.datapoints.retrieve(id=384300500341710, start="901d-ago", end="1200d-ago").to_pandas()
d.index.name = 'time'
d.reset_index(inplace=True)
data_dict = {'time': d['time'], str(val_timeseries['externalId'][1]): d[d.columns[1]]}

In [ ]:
data_dict

{'m_25870989735584': [Series([], Name: pi:160252, dtype: float64)],
 't_25870989735584': [Series([], Name: time, dtype: datetime64[ns])]}

In [ ]:
x = 200
var_name = '123' + '_' + str(x)
d.columns = [ 'time', var_name]
d.columns[1]

NameError: ignored

In [ ]:
x = 200
var_name = '123' + '_' + str(x)
print (var_name)

123_200

In [ ]:
d[str(var_name)]

0        10000.0
1        10000.0
2        10000.0
3        10000.0
4        10000.0
          ...
15906    10000.0
15907    10000.0
15908    10000.0
15909    10000.0
15910    10000.0
Name: 123_200, Length: 15911, dtype: float64

In [ ]:
15935/300

53.11666666666667

In [ ]:
d = c.datapoints.retrieve(id=944003029648139, start="500d-ago", end="now").to_pandas()

In [ ]:
len(d)

2616375

In [ ]:
d[:50]

In [ ]:
my_time_series = c.time_series.retrieve(id=52336799167961)

In [ ]:
from cognite.client.data_classes import Asset

In [ ]:
subtree_root_asset="pi:160627"
subtree = c.assets.retrieve(external_id=subtree_root_asset).subtree()
related_events = subtree.events()

In [ ]:
dict1 = {"Name":[],"Address":[],"Age":[]};
dict2 = {}
dict2.update(dict1)
print(dict2)

{'Name': [], 'Address': [], 'Age': []}

In [ ]:
dict1 = {"Name":[],"Address":[],"Age":[]};
dict2 = {}
a=1
x=2
y=2
z=3
k='_'
var1=str(x) + k + str(a)
var2 = str(x) + k + str(y)
var3 = str(x) + k + str(z)
dict3 = {var1:[1,1,1], var2:[2,2,2], var3:[3,3,3]}
dict4 = {var1:[1,1,1], var2:[2,2,2], var3:[3,3,3]}
dict2.update(dict1)
dict2.update(dict3)
dict2.update(dict4)

In [ ]:
import numpy as np
M = np.zeros((363, 2500000), dtype = np.float64)

In [ ]:
import sys
sys.getsizeof(M)

7260000112